.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
header {
  background-color: $second;
}
.logo {
  display: block;
  width: 120px;
  height: 30px;
  margin-right: 100px;
  flex-shrink: 0;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

input {
  border: none;
  outline: none;
  flex-grow: 1;
}

input::placeholder {
  color: #999;
}

.nav {
  display: flex;
  justify-content: end;
  align-content: end;
  margin: 0;
  li {
    display: block;
    &:not(last-child) {
      margin-right: 20px;
    }
    &.router-link-exact-active {
      a {
        color: #fff;
      }
    }
    a {
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      transition: .3s;
      font-weight: 500;
      &:hover {
        // color: #000;
        opacity: .5;
      }
    }
  }
}