.personal {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  grid-gap: 24px;
}
.modal-person-detail {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  header {
    span {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: normal;
    }
  }
  .details-modal-content {
    border-top: 1px solid #e0e0e0;
    padding: 1em;
    pointer-events: all;
    overflow: auto;
    p {
      margin-bottom: 10px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.el-table {
  position: relative;
  z-index: 1;
}
.el-image-viewer__wrapper {
  z-index: 9999 !important;
  position: fixed !important;
}