.draggble_edit {
  cursor: pointer;
}
.mb-2 {
  margin-bottom: 8px;
}
.product {
  padding: 24px 32px;
  border: 1px solid #e7e7e7;
  border-radius: 16px;
  position: relative;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  grid-gap: 24px;
  margin-top: 25px;
  overflow-y: auto;
  max-height: 90vh;
  scrollbar-width: none; 
}
.products::-webkit-scrollbar {
  display: none;
}